{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align:center;">{% block title %} Insert UserName {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="username" style="text-align:left;"></label>
            <!--<input type="text" name="username"
                   placeholder="Username">-->
            <input class="form-control" name="username" type="text" placeholder="Search..">
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
